html, body {
    background-color: solid #F5F5F5;
}

#nav {
    float: right;
}

.section-one {
    background-color: darkred;
    height: 100vh;
}

.section-one .title {
    display: flex;
    height: inherit;
}

.section-one .title p {
    font-style: italic;
    font-size: 40px;
    color: white;
    margin: auto;
}

.section-two {
    background-color: darkgray;
    height: 100%;
    display: flex;
}

#carousel {
    display: flex;
    margin: auto;
    width: 80vh;
    height: 80vh;
}

#carousel .carousel-slider {
    height: 100%;
}